<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{>_css}}
    <title>App Login</title>
</head>
<body>
<div class="container login-container">
<div class="card">
    <div class="card-content">
        {{{body}}}
    </div>
</div>

</div>
{{>_scripts}}
</body>
</html>