<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{>_css}}
    <title>Example App</title>
</head>
<body>
    {{>_header}}
    <div class="container">

        {{{body}}}
    </div>

    {{>_scripts}}
</body>
</html>